@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  color:white;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
    background: #f2f2f2;
}
nav{
    background:#59382e;
}
nav:after{
    content: '';
    clear: both;
    display: table;
  }
nav .logo{
    float: left;
    color: white;
    font-size: 30px;
    font-weight: 700;
    line-height: 70px;
    padding-left: 40px; 
}
nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
nav ul li{
    float: left;
    display: inline-block;
    background:#59382e;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;

}
nav ul li a:hover{
    color:cyan;
    border-radius: 50px;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #33ffff;
}
nav ul ul li a{
    text-align: center;
    line-height: 50px;
}
nav ul ul li a:hover{
    color:#33ffff;
    box-shadow: none;
}
nav ul ul{
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}
nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    margin: 0 ;
    height: 50px;
    width: 170px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 170px;
}
.fa-plus{
    margin-left: 73px;
    font-size: 14px;
}
.button{
    padding: 7.5px 15px;
    background: #006a4e;
    border: 1px #006d6d solid;
    border: 50em;
}
.button a:hover{
    text-decoration: none;
    transition: all .25s;
}
  


